.container h2 {
    position: relative; /* Establece la posición relativa para el elemento padre */
  }
  
  .container h2::before,
  .container h2::after {
    content: ''; /* Agrega contenido vacío a los elementos pseudo-HTML */
    position: absolute; /* Establece la posición absoluta para los elementos pseudo-HTML */
    top: 50%; /* Posiciona los elementos en la mitad superior del título */
    width: 40px; /* Ancho de las líneas */
    height: 2px; /* Altura de las líneas */
    background-color: red; /* Color de las líneas */
  }
  
  .container h2::before {
    left: -50px; /* Posiciona el elemento pseudo-HTML antes del título */
  }
  
  .container h2::after {
    right: -50px; /* Posiciona el elemento pseudo-HTML después del título */
  }
  