.section {
    margin-top: 80px;
    padding-top: 30px;
    background-image: url('../img/fondofooter.jpg');
    background-size: 100% 100%;
    background-position: center;
  }
  
  
.cardtn {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card-itemtn {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.002);
    transition: transform .20s linear;
}
h3{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
    
}
@media (max-width: 768px){
    h2{
        font-size: 28px;
    }
}
