 body {
  background-color: #130226;
}

hr {
  margin: 0.5rem 0;
  border: none;
  height: 2px;
  background-color: #361f75; /* Cambia #361f75 por el color que desees */
  box-shadow: 0 0 5px rgba(54, 31, 117, 0.5); /* Cambia los valores según tus preferencias */
}

.background-container {
  background-color: #1E1142;
  height: 75vh;
  width: auto;
  padding: 10px;
  z-index: 1;
}

.card {
  position: absolute;
  transition: transform 0.3s ease;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card:first-child {
  transform-origin: center bottom;
  transform: translateY(25%);
  z-index: 1;
}

.card:nth-child(2) {
  transform-origin: center bottom;
  transform: translateY(45%);
  z-index: 2;
}

.card:last-child {
  transform-origin: center bottom;
  transform: translateY(65%);
  z-index: 3;
}

.hidden {
  display: none;
}

.card-info {
  bottom: -28vh;
  position: relative;
  background-color: rgba(25, 26, 25, 0.8);
  border-radius: 11px;
  margin-top: -10px;
  padding: 10px;
  z-index: 2;
  overflow-y: auto;
  overflow-x:hidden;
  height: 48vh;
}

.card-info::-webkit-scrollbar {
  width: 0.1rem; /* Ajusta el ancho del scroll según tus necesidades */
}

.card-info::-webkit-scrollbar-track {
  background-color: transparent; /* Cambia el color de fondo del track según tus preferencias */
}

.card-info::-webkit-scrollbar-thumb {
  background-color: #888; /* Cambia el color del thumb según tus preferencias */
  border-radius: 10px; /* Ajusta el radio del borde del thumb según tus necesidades */
}

.card-info::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cambia el color del thumb al pasar el cursor sobre él */
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.card-info.hidden.fade-in {
  animation: fade-in 300ms ease-out forwards;
}


.small-image {
  width: auto; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 34px; /* Ajusta el tamaño de la imagen según tus necesidades */
}

.small-image-speed {
  width: auto; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 25px; /* Ajusta el tamaño de la imagen según tus necesidades */
}

.mobile-border {
  position: relative;
  width: 48vh;
  height: 92.5vh;
  border: 11px solid #d3d3d3;
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #808080, #6c6c6c);
  z-index: 4;
}

.btn-primary {
  background-color: rgb(45, 43, 45);
  border-color: #1E1142;
  box-sizing: border-box;
  transition: border-color 0.3s, background-color 0.3s;
}

.btn-primary span {
  font-size: 15px; /* Ajusta el tamaño de fuente según tus necesidades */
}

.btn-primary:hover {
  border: solid #1E1142;
  background-color: #1E1142;
}

.row-nav {
  height: 60px;
  background-color: rgb(25, 26, 25);
  position: relative;
  z-index: 3;
}

.small-text {
  font-size: 15px;
  color: #808080; /* Color gris */
}

.custom-icons {
  background-color: rgb(45, 43, 45);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  border: solid #1E1142;
}

.custom-icons span {
  color: white;
  font-size: 15px;
}

.custom-icons > div {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Ajusta el margen derecho según tu preferencia */
}

.custom-icons > div:last-child {
  margin-right: 0;
}

.col-data {
  border-radius: 5px;
  border: solid #361f75;
  border-width: 1px;
  box-shadow: 0 0 5px rgba(54, 31, 117, 0.7);
}

.button {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgb(161, 255, 20);
  border-radius: 10px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: none;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button:hover {
  background-color: rgb(192, 255, 20);
  transition-duration: .5s;
}

.button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

